
<div class="container">
    <h1>Contact</h1>
<hr/>
<p>Use Visual Storytelling. Brands have used storytelling for decades. ...
    Choose Your Colors Carefully. ...
    Show Your Brand's Voice and Personality. ...
    Research Each Platform for Advertising. ...
    Engage With Your Audience. ...
    Keep Ahead of Trends. ...
    Make It Personal. ...
    Tell Your Customers What to Do Next.</p>
<!-- <h5>Email:</h5>
<h5>phone:</h5>
<h5>fax:</h5> -->
<p>Food is any substance consumed by an organism for nutritional support. Food is usually of plant, animal, or fungal origin and contains essential nutrients such as carbohydrates, fats, proteins, vitamins, or minerals.</p>
<h1>What you get when asking your questions</h1>
<ul>
    <li>less than 12-hours response to your question.</li>
    <li>throughness and expertise of a certifed exchanges specialist.</li>
    <li>plan of action summarised in an email follow up</li>
</ul>
<form>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">FirstName</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">LastName</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Phone Number</label>
      <input type="number" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">how may we help you?</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
    
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>