<!-- <div>
    <h1>Achieving real results at a time.</h1>
</div> -->

<!-- <div class="container mt-5 mb-5">
    <h1 class="text-center">how to get <span class="highlight">fresh food</span></h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepBoxone">
                <p>free up your time</p>
            </div>
            
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBoxone">
                <p>stop stressing about what to cook</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="stepBoxone mt-2">
                <p>save money & reduce waste</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container mt-5 mb-5">
    <h1 class="text-center">how to get <span class="highlight">fresh food</span></h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p> Milk Bar, which is a fun and unique twist on sweet treats. Everything she makes has a unique finish that screams fun and deliciousness, which is why she has 16 store locations at this point in time.</p>
            </div>
            
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>Oishii is a Japanese based company featuring the Omakase Berry. The company prides itself on quality over quantity berry farming available at their locations in New York, LA or New Jersey.</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="stepBox mt-2">
                <h1>3</h1>
                <p>The Supernatural brand features an exciting, plant-based way to get creative in the kitchen. All of their powder products and recipes are vibrant in color, better for you and fun to use in the kitchen!</p>
            </div>
        </div>
    </div>
</div> -->

<div class="container mt-5 mb-5">
   <h1 class="text-center">About</h1>
    <p>
        hello
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate hic aut illum, corporis libero vitae facere iusto illo iste, quo dolore temporibus pariatur quisquam! Obcaecati non asperiores aspernatur et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore veniam accusantium voluptatem neque asperiores consequatur laboriosam harum nesciunt, architecto placeat, perferendis esse veritatis, cupiditate porro explicabo minima reprehenderit quos nobis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, sint ipsam! Iusto sapiente corporis voluptatibus officiis suscipit. Accusamus ad voluptatibus laboriosam nostrum impedit quaerat, ratione repellat optio iure minus doloremque.
    </p>

</div>